*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
    width: 50px;
}

.trybewarts-login {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

#trybewarts-header-title {
    text-align: center;
}